@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@model Tracking.Web.Models.ViewModel.Auth.LoginViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
<div id="modal-login" class= "modal-login">
    <p>Sign In with your existing account</p>
    
    <form method="post" class="form-container" asp-controller="Account" asp-action="Login"
            asp-route-returnUrl="@Model.ReturnUrl">
        <div asp-validation-summary="ModelOnly"></div>
        <div>
            <label asp-for="Email"></label><br />
            <input placeholder="Enter Email" asp-for="Email" />
            <span asp-validation-for="Email"></span>
        </div>
        <div>
            <label asp-for="Password"></label><br />
            <input placeholder="Enter password" type="password" asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>
        <div>
            <label asp-for="RememberMe"></label><br />
            <input asp-for="RememberMe" />
        </div>
        <div>
            <input type="submit" class="btn" value="Sign In" />
        </div>
    </form>
    <p>Don`t have an account?</p><a href="#">Sign Up</a>
 </div>