@using Microsoft.AspNetCore.Identity

@inject SignInManager<TrackingUser> SignInManager
@inject UserManager<TrackingUser> UserManager

@model Tracking.Web.Models.ViewModel.Auth.LoginViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
<div class="dialog">
    <div class="dialog-header">
        <div class="buttons">
            <div class="circle red"></div>
            <div class="circle yellow"></div>
            <div class="circle green"></div>
        </div>
        Sign up or sign in
    </div>
    <div class="address-bar">
        <img src="~/images/lock.png" />
        <div class="path">https://<span class="black">login.microsoftonline.com</span>/te/contosospa.onmicr test test test</div>
        <img src="~/images/key.png" />
        <img src="~/images/translate.png" />
    </div>
    <div class="content">
        <form method="get" asp-controller="Account" asp-action="Login"
              asp-route-returnUrl="@Model.ReturnUrl">
            <div asp-validation-summary="ModelOnly"></div>
            <div>Sign in with your existing account</div>
            <div class="line">
                <label asp-for="Token"></label><br>
                <input id="email" placeholder="Enter token" 
                       asp-for="Token" />
                <span asp-validation-for="Token"></span>
            </div>
            @*<div class="line">
            <label asp-for="Email"></label><br>
            <input id="email" placeholder="Enter Email" type="email" asp-for="Email" />
            <span asp-validation-for="Email"></span>
        </div>
        <div class="line">
            <label asp-for="Password"></label><br>
            <input id="password" placeholder="Enter password" type="password" asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>*@
            <div class="line">
                <input type="submit" class="btn" value="Sign In" />
            </div>
            <div class="line">
                Don't have an account? <a>Sign up now</a>
            </div>
        </form>
    </div>
</div>
