<div id="modalWindow" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>
            <h4>Modifica base dati</h4>
        </div>
        <div class="modal-body">
            <span>
                <bold>Attenzione!</bold> Alcuni dei dati che si sta tentando di modificare potrebbero
                causare un disallineamento con la base dati esterna del Control Program.
                Sei sicuro di voler continuare con la modifica?
            </span>
        </div>
        <div class="modal-footer">
            <div class="button-footer">
                <input type="button" value="ANNULLA" id="annullaPopup">
                <input type="button" class="primary" value="CONFERMA" id="conferma">
            </div>
        </div>
    </div>
</div>