@model Tracking.Web.Models.ViewModel.SurveyViewModel

<div class="card">
    <div class="card-header">Mappatura Rischio</div>
    <div class="card-item">
        <div>Titolo</div>
        <div class="bold mappatura" id="Risk">@Model.RiskType.Name</div>
        <div>Area SREP</div>
        <div class="bold mappatura" id="ScrepArea">@Model.ScrepArea</div>
    </div>
    @if (@Model.Role == "Audit" || @Model.Role == "Compliance")
    {
        <div class="edit-container">
            <a href="#" class="edit-all-dati-rilievo-btn" onclick="$('.mappatura').trigger('custom_event');">
                <img src="~/images/edit.png" alt="edit">
            </a>
        </div>
    }
</div>