@model Note

<link rel="stylesheet" href="~/css/detail-survey.css" />
<div class="bold align-top">Aggiungi nota</div>
<div class="textarea-container full-line" id="area">
    <form enctype="multipart/form-data" id="formNote">
        <textarea id="description" placeholder="Note"></textarea>
        <img class="clip" src="~/images/clip-black.png" onclick="document.getElementById('attachfile').click()">
        <div>
            <label>
                <span id="fileName"></span>
                <input type="file" hidden="hidden" name="file" id="attachfile" />
            </label>
        </div>
        <input type="button" class="primary" value="INSERISCI NOTA" onclick="CreateNote()"/>
    </form>
</div>