@model Tracking.Web.Models.ViewModel.FilterViewModel

@{
    ViewData["Title"] = "Home Page";
}

 <div class="big-label">
    <h2>Elenco rilievi/azioni di mitigazione</h2>
    <div class="filters">
        <div class="label">
            <button id="buttonFiltri">filtri</button>
        </div>
        <div class="filters-popover" id="filterDiv">
            <fieldset>
                <legend class="legend">Legal entity</legend>
                <hr>
                <input id="legalEntry1" type="checkbox"/>
                <label for="legalEntry1">Nome Banca example1</label><br>
                <input id="legalEntry2" type="checkbox" />
                <label for="legalEntry2">Noma Banca example10</label><br>
                <input id="legalEntry3" type="checkbox" />
                <label for="legalEntry3">Nome Banca example16</label><br>
                <input id="legalEntry4" type="checkbox" />
                <label for="legalEntry4">Nome Banca example21</label><br>
                <input id="legalEntry5" type="checkbox" />
                <label for="legalEntry5">Nome Banca example40</label><br>
                <input id="legalEntry6" type="checkbox" />
                <label for="legalEntry6">Nome Banca example48</label><br>
                <input id="legalEntry7" type="checkbox" />
                <label for="legalEntry7">Nome Banca example89</label><br>
            </fieldset>
            <fieldset>
                <legend class="legend">Owner azione correttiva</legend>
                <hr>
                <input id="correctiveAction1" type="checkbox"/>
                <label for="correctiveAction1">Owner Azione mitigazione example_1805</label><br>
                <input id="correctiveAction2" type="checkbox" />
                <label for="correctiveAction2">Owner Azione mitigazione example_1812</label><br>
                <input id="correctiveAction3" type="checkbox" name="" />
                <label for="correctiveAction3">Owner Azione mitigazione example_1814</label><br>
            </fieldset>
            <fieldset>
                <legend class="legend">Stato azione correttiva</legend>
                <hr>
                <input id="actionStatus1" type="checkbox" name="" />
                <label for="actionStatus1">da validare</label><br>
            </fieldset>
            <fieldset>
                <legend class="legend">Severità rilievo</legend>
                <hr>
                <input id="relevance1" type="checkbox" />
                <label for="relevance1">Basso</label><br>
                <input id="relevance2" type="checkbox" />
                <label for="relevance2">Medio-Alto</label><br>
                <input id="relevance3" type="checkbox" />
                <label for="relevance3">Medio-Basso</label><br>
            </fieldset>
        </div>
    </div>
</div>
<div class="main-content" id="main-content">
    @*@foreach (var item in Model)
    {
        @Html.Partial("_InterventionSummary", item)
    }*@
</div>
<script src="~/js/Index.js"></script>