@model Tracking.Web.Models.ViewModel.FilterViewModel

@{
    ViewData["Title"] = "Elenco rilievi/azioni di mitigazione";
}
<link rel="stylesheet" href="~/css/index.css" />
<div class="big-label">
    <h2>Elenco rilievi/azioni di mitigazione</h2>
    <div class="filters">
        <div class="label">
            <button id="buttonFiltri" onclick="ButtonFilterClick()">
                <img src="~/images/index.jpg" alt="Filtri" id="imgFiltri">
            </button>
        </div>
        <div class="filters-popover" id="filterDiv">
        </div>
    </div>
</div>
<div class="main-content" id="main-content">
</div>
<script src="~/js/Index.js"></script>
