@model IEnumerable<Intervention>

@{
    ViewData["Title"] = "Home Page";
}

<div class="big-label">
    <h2>Elenco rilievi/azioni di mitigazione</h2>
    <div class="filters">
        <div class="label">
            filtri
        </div>
        <div class="filters-popover">
            <fieldset>
                <legend class="legend">Legal entity</legend>
                <hr>
                <input id="legalEntry1" type="checkbox" />
                <label for="legalEntry1">CR di Rovereto</label><br>
                <input id="legalEntry2" type="checkbox" />
                <label for="legalEntry2">BCC dell’Alto Tirreno</label><br>
                <input id="legalEntry3" type="checkbox" />
                <label for="legalEntry3">Bene Banca</label><br>
            </fieldset>
            <fieldset>
                <legend class="legend">Owner azione correttiva</legend>
                <hr>
                <input id="correctiveAction1" type="checkbox" />
                <label for="correctiveAction1">Direzione generale</label><br>
                <input id="correctiveAction2" type="checkbox" />
                <label for="correctiveAction2">Segreteria Generale</label><br>
                <input id="correctiveAction3" type="checkbox" name="" />
                <label for="correctiveAction3">Ufficio Personale</label><br>
            </fieldset>
            <fieldset>
                <legend class="legend">Stato azione correttiva</legend>
                <hr>
                <input id="actionStatus1" type="checkbox" name="" />
                <label for="actionStatus1">In corso</label><br>
                <input id="actionStatus2" type="checkbox" name="" />
                <label for="actionStatus2">Chiusa</label><br>
                <input id="actionStatus3" type="checkbox" name="" />
                <label for="actionStatus3">Annullata</label><br>
            </fieldset>
            <fieldset>
                <legend class="legend">Severità rilievo</legend>
                <hr>
                <input id="relevance1" type="checkbox" />
                <label for="relevance1">Alto</label><br>
                <input id="relevance2" type="checkbox" />
                <label for="relevance2">Medio-Alto</label><br>
                <input id="relevance3" type="checkbox" />
                <label for="relevance3">Medio-Basso</label><br>
            </fieldset>
        </div>
    </div>
</div>
<div class="main-content">
    @foreach (var item in Model)
    {
        @Html.Partial("_InterventionSummary", item)
    }
</div>

@section scripts{ 
    <script>
        $('input[type=checkbox]').change(function () {
            var id = $(this).attr('id');
            var filt = $('label[for="' + id + '"]').text();
            $.ajax({
                url: "/Home/Filter?surveySeverity=Alto", 
                type: "POST",
                success: GetInterventionsSyccess
            });
        });

        function GetInterventionsSyccess() {

        }
    </script>
}