@model Tracking.Web.Models.ViewModel.FilterViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="big-label">
    <h2>Elenco rilievi/azioni di mitigazione</h2>
    <div class="filters">
        <div class="label">
            filtri
        </div>
        <div class="filters-popover" div="#filterDiv">
            <fieldset>
                <legend class="legend">Legal entity</legend>
                <hr>
                <input id="legalEntry1" type="checkbox"/>
                <label for="legalEntry1">Nome Banca example1</label><br>
                <input id="legalEntry2" type="checkbox" />
                <label for="legalEntry2">Noma Banca example10</label><br>
                <input id="legalEntry3" type="checkbox" />
                <label for="legalEntry3">Nome Banca example16</label><br>
                <input id="legalEntry4" type="checkbox" />
                <label for="legalEntry4">Nome Banca example21</label><br>
                <input id="legalEntry5" type="checkbox" />
                <label for="legalEntry5">Nome Banca example40</label><br>
                <input id="legalEntry6" type="checkbox" />
                <label for="legalEntry6">Nome Banca example48</label><br>
                <input id="legalEntry7" type="checkbox" />
                <label for="legalEntry7">Nome Banca example89</label><br>
            </fieldset>
            <fieldset>
                <legend class="legend">Owner azione correttiva</legend>
                <hr>
                <input id="correctiveAction1" type="checkbox"/>
                <label for="correctiveAction1">Owner Azione mitigazione example_1805</label><br>
                <input id="correctiveAction2" type="checkbox" />
                <label for="correctiveAction2">Owner Azione mitigazione example_1812</label><br>
                <input id="correctiveAction3" type="checkbox" name="" />
                <label for="correctiveAction3">Owner Azione mitigazione example_1814</label><br>
            </fieldset>
            <fieldset>
                <legend class="legend">Stato azione correttiva</legend>
                <hr>
                <input id="actionStatus1" type="checkbox" name="" />
                <label for="actionStatus1">da validare</label><br>
            </fieldset>
            <fieldset>
                <legend class="legend">Severità rilievo</legend>
                <hr>
                <input id="relevance1" type="checkbox" />
                <label for="relevance1">Basso</label><br>
                <input id="relevance2" type="checkbox" />
                <label for="relevance2">Medio-Alto</label><br>
                <input id="relevance3" type="checkbox" />
                <label for="relevance3">Medio-Basso</label><br>
            </fieldset>
        </div>
    </div>
</div>
<div class="main-content" id="main-content">
    @*@foreach (var item in Model)
    {
        @Html.Partial("_InterventionSummary", item)
    }*@
</div>

@section scripts{ 
    <script>
        var names = [];
        var owners = [];
        var statuses = [];
        var severities = [];
        var filter;

        window.onload = function () {
            $.ajax({
                url: "/Home/GetInterventions",
                type: "GET",
                success: GetInterventionsSuccess
            });
        }

        $('#filterDiv').click(function () {
            $(this).show();
        });
      
        $('input[type=checkbox]').change(function () {
            var id = $(this).attr('id');
            filter = $('label[for="' + id + '"]').text();
            var property = $($(this).parent()).children('.legend').text();

            if ($(this).is(':checked'))
            {
                if (property == "Legal entity") {
                        names.push(filter);
                }

                if (property == "Owner azione correttiva") {
                        owners.push(filter);
                }

                if (property == "Stato azione correttiva") {
                        statuses.push(filter);
                }

                if (property == "Severità rilievo") {
                        severities.push(filter);
                }
            }

            else
            {
                if (property == "Legal entity") {
                    remove(names, filter);
                }

                if (property == "Owner azione correttiva") {
                    remove(owners, filter);
                }

                if (property == "Stato azione correttiva") {
                    remove(statuses, filter);
                }

                if (property == "Severità rilievo") {
                    remove(severities, filter);
                }
            }

            $.ajax({
                url: "/Home/Filter",
                type: "POST",
                traditional:true,
                data: {
                    LegalEntities: names,
                    Owners: owners,
                    Statuses: statuses,
                    Severities: severities
                },
                success: GetInterventionsSuccess
            });
        });

        function remove(array, element) {
            var index = array.indexOf(element);
            array.splice(index, 1);
        }
        
        function GetInterventionsSuccess(data) {
            $('#main-content').html(data);
        }
    </script>
}