html, body {
    height: 100%;
    margin: 0;
    font-size: 14px;
    font-family: 'Lato';
    color: #313436;
}


header {
    display: flex;
}

footer {
    /*height: 130px;*/
    background: #ECEDEF;
}

header, footer {
    z-index: 5;
}

.footer {
    width: 100%;
    height: 55px;
    background: #C0C5C9;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.bottom-logo {
    height: 48px;
    margin-right: 26px;
}

.logo-container {
    background: #1A3844;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 26px;
    height: 26px;
}

.header-container {
    flex: 1 1 auto;
    background: #214754;
    padding: 23px 20px;
    color: #FFFFFF;
}

    .header-container .header {
        margin: 0;
        font-size: 18px;
    }

    .header-container .copyright {
        margin: 0;
        font-size: 9px;
    }

main {
    background: #ECEDEF;
    height: calc(100% - 135px);
    padding: 0 90px;
}

    main h2 {
        font-size: 18px;
        margin: 0;
        padding: 62px 0 42px 0;
    }

.main-content {
    overflow-y: auto;
    height: calc(100% - 126px);
}

/*cards*/

.card {
    border: 1px solid #C0C5C9;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    padding: 12px;
}

.card-header {
    color: #92989C;
    margin: 20px;
}

.card-item {
    margin: 3px 20px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 3fr;
    grid-gap: 20px;
}

.description {
    margin-top: 30px;
}

.bold {
    font-weight: bold;
}

.gray {
    color: #92989C;
}

.blue {
    color: #3095BA;
}

.full-line {
    grid-column: 2 / -1;
}

.edit-container {
    display: flex;
    flex-direction: row-reverse;
}

    .edit-container img {
        width: 17px;
        height: 17px;
    }

/*controls*/

.controls {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 3fr;
    grid-row-gap: 20px;
    grid-column-gap: 50px;
    padding-top: 20px;
    padding-bottom: 100px;
    align-items: center;
}

.align-top {
    align-self: self-start;
}

.notes {
    display: grid;
    grid-template-columns: 140px 1fr;
    grid-gap: 20px;
}

    .notes img.plus {
        width: 13px;
        height: 13px;
    }

    .notes hr {
        height: 0;
        border: 1px solid #C0C5C9;
        width: calc(100% - 2px);
    }

    .notes img.clip {
        width: 14px;
        height: 14px;
    }

.textarea-container {
    position: relative;
}

    .textarea-container textarea {
        width: calc(100% - 6px);
        height: 100px;
    }

    .textarea-container img.clip {
        position: absolute;
        top: 0;
        right: 0;
        padding: 9px;
        height: 13px;
        width: 13px;
        background: white;
        border: 1px solid #C0C5C9;
    }

    .textarea-container input {
        margin: 30px 0;
    }

.button-container {
    display: flex;
    justify-content: flex-end;
    grid-column: 1 / -1;
}

    .button-container input {
        margin-left: 20px;
    }

input[type=button] {
    background: white;
    border: 1px solid #C0C5C9;
    width: 150px;
    height: 32px;
    color: #313436;
    font-size: 12px;
    font-weight: bold;
}

    input[type=button].primary {
        background: #3095BA;
        color: #FFFFFF;
    }
