/*cards*/
body {
    font-family: 'Lato';
}

.card {
    border: 1px solid #C0C5C9;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    padding: 12px;
    background:#FFFFFF
}

.card-header {
    color: #92989C;
    margin: 20px;
}

.card-item {
    margin: 3px 20px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 3fr;
    grid-gap: 20px;
}

.description {
    margin-top: 30px;
    border-color: #C0C5C9;
}

.bold {
    font-weight: bold;
    overflow:no-display;
}

#nuova{
    white-space:nowrap;
}

.gray {
    color: #92989C;
}

.blue {
    color: #3095BA;
}

#notesList {
    grid-column: 2 / -1;
}

.edit-container {
    display: flex;
    flex-direction: row-reverse;
}

    .edit-container img {
        width: 17px;
        height: 17px;
    }

/*controls*/

.controls {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 3fr;
    grid-row-gap: 20px;
    grid-column-gap: 50px;
    padding-top: 20px;
    padding-bottom: 100px;
    align-items: center;
}

.align-top {
    align-self: self-start;
}

.notes {
    display: grid;
    grid-template-columns: minmax(140px, max-content) 1fr;
    grid-gap: 20px;
}

    .notes img.vizual {
        width: 13px;
        height: 13px;
        margin-left:5px;
        cursor: pointer;
    }

    .notes hr {
        margin-top: 10px;
        height: 0;
        border: 1px solid #C0C5C9;
        width: calc(100% - 2px);
    }

    .notes img.clip {
        width: 14px;
        height: 14px;
    }

.textarea-container {
    position: relative;
    
}

    .textarea-container textarea {
        width: 100%;
        height: 100px;
        padding: 7px;
        border-color: #C0C5C9;
    }

    .textarea-container img.clip {
        position: absolute;
        top: 0;
        right: 0;
        height: 33px;
        width: 33px;
        background: white;
        border: 1px solid #C0C5C9;
        opacity: 1;
        cursor: pointer;
    }

    .textarea-container input {
        margin: 30px 0;
        color: #C0C5C9;
    }

.full-line {
    grid-column: 2 / -1;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    grid-column: 1 / -1;
}

.button-container input {
    margin-left: 20px;
}

input[type=button], input[type=submit] {
    background: white;
    border: 1px solid #C0C5C9;
    width: 150px;
    height: 32px;
    color: #313436;
    font-size: 12px;
    font-weight: bold;
}

input[type=submit].primary, input[type=button].primary {
    background: #3095BA;
    color: #FFFFFF;
    font-weight:bold;
    letter-spacing:0.86px;
    width:150px;
    height:32px;
}

#notesList {
    overflow-y: auto;
    max-height: 300px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    top: 30%;
    width: 55%;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
}

@-webkit-keyframes animatetop {
    from {
        top: 0px;
        opacity: 0
    }
    to {
        top: 190px;
        opacity: 1
    }
}

.modal-header {
    padding: 2px 16px;
    color: black;
}

.modal-header h4{
    font-weight:bold;
    padding:10px 0px;
}

.modal-body {
    padding: 2px 16px;
}

.modal-footer {
    padding: 30px 16px;
    color: white;
}

.modal-footer input {
    margin-left: 20px;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

 .close:hover,
 .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.button-footer {
    width: 50%;
    margin: 0 auto;
}

#editSpan{
    font-weight:normal;
    font-size:12.5px;
    padding-left:5px;
}

#StatusId,
#dueDateLocal1,
#annulla{
    font-weight: bold;
}

#dueDateLocal1{
    z-index:1;
}

#annulla {
    background: #ECEDEF;
    border-color: #ccc;
    letter-spacing: 0.86px;
}

#modalWindow{
    z-index:15;
}

.user-container {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #214754;
    position: relative;
}

    .user-container .button {
        cursor: pointer;
    }

    .user-container .user-popover {
        position: absolute;
        background: white;
        white-space: nowrap;
        border-radius: 10px;
        padding: 20px;
        top: 70px;
        right: 0;
        display: none;
    }

        .user-container .user-popover::before {
            content: "";
            width: 10px;
            height: 10px;
            transform: rotate(45deg);
            background: white;
            display: block;
            top: -5px;
            right: 36px;
            position: absolute;
        }

.user-popover .user-username {
    font-size: 17px;
    font-weight: bold;
}

.user-popover hr {
    border-bottom: 1px solid gray;
    margin: 10px 0;
}

.user-popover .user-url {
    font-weight: bold;
}

.date {
    margin-bottom: 4px;
}

#imgFiltri {
    width: 90px;
}

.espandi,
.riduci,
#imgFiltri {
    cursor: pointer;
}

input[type="file"] {
    display: none;
}