html, body {
    height: 100%;
    margin: 0;
    font-size: 14px;
    font-family: 'Lato';
}


.header {
    display: flex;
}

footer {
    background: #ECEDEF;
    background: red;
}

header, footer {
    z-index: 5;
}

.footer {
    width: 100%;
    height: 55px;
    background: #C0C5C9;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.bottom-logo {
    height: 48px;
    margin-right: 26px;
}

.logo-container {
    background: #1A3844;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 26px;
    height: 26px;
}

.header-container {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-content: center;
    background: #214754;
    padding: 0 20px;
    color: #FFFFFF;
}

    .header-container .header {
        cursor: pointer;
        margin: 0;
        font-size: 18px;
    }

    .header-container .copyright {
        margin: 0;
        font-size: 9px;
    }

.user-container {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #214754;
    position: relative;
}

    .user-container .button {
        cursor: pointer;
    }

    .user-container .user-popover {
        position: absolute;
        background: white;
        white-space: nowrap;
        border-radius: 10px;
        padding: 20px;
        top: 70px;
        right: 0;
        display: none;
    }

        .user-container .user-popover::before {
            content: "";
            width: 10px;
            height: 10px;
            transform: rotate(45deg);
            background: white;
            display: block;
            top: -5px;
            right: 36px;
            position: absolute;
        }

.user-popover .user-username {
    font-size: 17px;
    font-weight: bold;
    color: black;
}

.user-popover hr {
    border-bottom: 1px solid gray;
    margin: 10px 0;
}

.user-popover .user-url a {
    font-weight: bold;
    text-decoration: none;
    color: black;
}



.main {
    display: flex;
    flex-direction: column;
    background: #ECEDEF;
    height: calc(100% - 135px);
    padding: 0 90px;
}

    .main h2 {
        font-size: 18px;
        margin: 0;
        padding: 62px 0 42px 0;
    }

.main-content {
    overflow-y: auto;
}

.content {
    max-width: 358px;
}


.bold {
    font-weight: bold;
}

@-webkit-keyframes animatetop {
    from {
        top: 0px;
        opacity: 0
    }

    to {
        top: 190px;
        opacity: 1
    }
}