body {

}

html, body {
    height: 100%;
    margin: 0;
    font-size: 14px;
    font-family: 'Lato';
}


header {
    display: flex;
}

header, footer {
    z-index: 5;
}

.footer {
    width: 100%;
    height: 55px;
    background: #C0C5C9;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.bottom-logo {
    height: 48px;
    margin-right: 26px;
}

.logo-container {
    background: #1A3844;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 26px;
    height: 26px;
}

.header-container {
    flex: 1 1 auto;
    background: #214754;
    padding: 23px 20px;
    color: #FFFFFF;
}

    .header-container .header {
        margin: 0;
        font-size: 18px;
    }

    .header-container .copyright {
        margin: 0;
        font-size: 9px;
    }

main {
    background: #ECEDEF;
    height: calc(100% - 210px);
    padding: 0 90px;
}

    main h2 {
        font-size: 18px;
        margin: 0;
        padding: 62px 0 42px 0;
    }

.main-content {
    overflow-y: auto;
    height: calc(100% - 184px);
}

.card {
    display: grid;
    grid-template-columns: 3fr 3fr 250px 81px;
    border: 1px solid #C0C5C9;
    background: #FFFFFF;
    margin: 10px 0;
}

.card-item {
    margin: 20px 30px;
}

.card-button {
    background: #F1F3F4;
    border-left: 1px solid #C0C5C9;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

    .card-button img {
        width: 22px;
        height: 24px;
    }

.card-popover {
    display: none;
    position: absolute;
    bottom: 5px;
    left: -101px;
    width: 185px;
    z-index: 10;
}

    .card-popover .popover-body {
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        bottom: 30px;
        font-size: 12px;
        font-weight: normal;
        padding: 6px 10px;
        background: white;
    }

.triangle {
    width: 185px;
    height: 30px;
    position: relative;
    overflow: hidden;
}

    .triangle:after {
        content: "";
        position: absolute;
        width: 30px;
        height: 30px;
        background: white;
        transform: rotate(45deg); /* Prefixes... */
        bottom: 20px;
        left: 93px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

.id-info {
    display: inline;
    position: relative;
}

    .id-info:hover .card-popover {
        display: block;
    }

    .id-info img {
        width: 13px;
        height: 13px;
    }

.bold {
    font-weight: bold;
}

.more {
    color: #3095BA;
}

.filters {
    align-self: flex-end;
    position: relative;
    margin-bottom: 36px;
    user-select: none;
}

.filters__label {
    display: flex;
    color: #3095BA;
}

    .filters__label:hover {
        cursor: pointer;
    }

.filters__exchange-icon {
    position: relative;
    top: 2px;
}

.filters__label-text {
    margin: 0 10px;
}

.filters__arrow-icon {
    position: relative;
    top: 2px;
    transition: all 0.3s ease;
}

.filters__arrow-icon--active {
    top: -2px;
    transform: rotate(180deg);
}

.filters__popover {
    display: none;
    position: absolute;
    top: 30px;
    right: 0;
    width: 250px;
    background: white;
    border: 1px solid #C0C5C9;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    z-index: 10;
}

.filters__popover--active {
    display: block;
}

.filters-checkbox,
.filters__popover label {
    cursor: pointer;
}

fieldset {
    left: 0;
    border: none;
}

hr {
    border: 1px solid #F1F3F4;
}

fieldset {
    padding: 0;
    margin: 19px 19px 0 19px;
}

    fieldset:last-child {
        margin: 19px;
    }

.legend {
    font-size: 14px;
    font-weight: bold;
}

.card-button__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    user-select: none;
}

input {
    margin-left: 20px;
}

.big-label {
    display: flex;
    flex-direction: column;
}

.day {
    margin-bottom: 20px;
}
